---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { Image } from "astro:assets";
import HeroDesktop from "../assest/images/homepage/hero-bg-desktop-clip.jpg";
import HeroTablet from "../assest/images/homepage/hero-bg-tablet-clip.jpg";
import HeroMobile from "../assest/images/homepage/hero-bg-mobile-clip.jpg";
import Logo from "../assest/images/logo.svg";
---

<Layout title="Dine Website Challenge.">
  <main>
    <!-- Hero Section -->
    <section class="flex flex-col lg:flex-row-reverse">
      <Image
        src={HeroDesktop}
        alt="Fine dining restaurant"
        class:list={"hidden md:hidden lg:block"}
      />
      <Image
        src={HeroTablet}
        alt="Fine dining restaurant"
        class:list={"hidden md:block lg:hidden"}
      />
      <Image
        src={HeroMobile}
        alt="Fine dining restaurant"
        class:list={"md:max-2xl:hidden"}
      />
      <div
        class="flex flex-col items-center justify-center gap-10 bg-[#111111] pb-[9.5rem] md:gap-[2.37rem] md:pb-[13.5rem] lg:relative lg:left-[6.75rem] lg:items-start lg:gap-[9.56rem] lg:pl-[10.31rem] lg:pt-[4.06rem]"
      >
        <Image src={Logo} alt="Dine Logo" />
        <div
          class="flex flex-col items-center justify-center gap-[1.31rem] text-center md:gap-5 lg:items-start lg:text-left"
        >
          <h1
            class="w-[16.4375rem] text-[2rem] font-light leading-10 tracking-[-0.025rem] text-white md:w-[24.0625rem] md:text-5xl md:leading-[4rem] md:tracking-[-0.0375rem] lg:w-[31.0625rem] lg:text-[5rem] lg:leading-[5rem] lg:tracking-[-0.0625rem]"
          >
            Exquisite dining since 1989
          </h1>
          <p
            class="w-[20.4375rem] text-base font-normal leading-relaxed text-white md:w-[35.8125rem] md:text-xl md:leading-[1.875rem] lg:w-[27.8125rem]"
          >
            Experience our seasonal menu in beautiful country surroundings. Eat
            the freshest produce from the comfort of our farmhouse.
          </p>
        </div>
        <a
          href="/booking"
          class="mt-[0.81rem] flex h-16 w-[15.3125rem] cursor-pointer items-center justify-center border border-white text-[1.0625rem] font-semibold leading-4 tracking-[0.15625rem] text-white transition-colors duration-300 ease-in-out hover:border-none hover:bg-white hover:text-[#111111] md:mt-[0.88rem] lg:mt-[-7.06rem]"
        >
          Book a table
        </a>
      </div>
    </section>
  </main>
</Layout>
